<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dianjiang.hyjipotou2.dianjiangapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".xinxixiugaiActivity"></activity>
        <activity android:name=".wodezhanghuActivity"></activity>
        <activity android:name=".dengluActivity"></activity>
        <activity android:name=".zhuceActivity"></activity>
        <activity android:name=".zhaohuiActivity"></activity>
        <activity android:name=".SearchActivity"></activity>
        <activity android:name=".shezhiActivity"></activity>
        <activity android:name=".xiugaimimaActivity"></activity>
        <activity android:name=".guanyuActivity"></activity>
        <activity android:name=".suoyaofapiaoActivity"></activity>
        <activity android:name=".fabuActivity"></activity>
        <activity android:name=".GongjiangzhuceActivity"></activity>
        <activity android:name=".gongjiangActivity"></activity>
        <activity android:name=".dianjiangItemActivity"></activity>
        <activity android:name=".jiaodianxiangxiActivity"></activity>
        <activity android:name=".tixianActivity"></activity>
        <activity android:name=".gongchengxiangxiActivity"></activity>
        <activity android:name=".wodebanzu"></activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".gongjiangmoreActivity"
            android:label="@string/title_activity_dianjiangketang"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>

</manifest>
